* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: greenyellow;
}

body header {
    height: 150px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

body header nav ul li {
    display: inline;
}

.programmingLanguages {
    width: 100px;
    height: 100px;
}

