* {
    padding: 7px;
    margin: 0px;
}

body {
    background-color: greenyellow;
}

body header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
}

body header nav ul li a{
    text-decoration: none;
    color: #333;
}

body header nav ul li a:hover {
    color: red;
}

body header img{
    height: 100%;
}

body nav ul {
    display: flex;
}

body header nav ul li {
    list-style: none;
    margin: 10px;
}

body main table .programmingLanguages {
    width: 100px;
    height: 100px;
}

body main #tableOne th {
    border: 1px solid black;
}

body main #tableTwo, th, td {
    border: 1px solid black;
}
